

{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img class="img-fluid" width="50% \9;"  src="/dhivehi-ai-logo.svg" />
    </div>
    <div class="col-lg-9 col-xl-8 text-center mt-4">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">

    <div class="row justify-content-center text-center">

      <div class="col-lg-5">
        <h2 class="h4" ><a href="{{ "docs/technologies/introduction/" | relURL }}">Resources</a></h2>
        <p>Access our resource hub for links and information.</p>
      </div>

      <div class="col-lg-5">
        <h2 class="h4" ><a href="https://discord.gg/5ZdTHsN8Mn">Collaborate</a></h2>
        <p>Become part of the community, get help and exchange ideas.</p>
      </div>

      <div class="col-lg-5">
        <h2 class="h4"><a href="{{ "contributing/" | relURL }}">Contribute</a></h2>
        <p>Become a contributor and help us improve the tech around Dhivehi for everyone!</p>
      </div>

    </div>
  </div>
</section>
{{ end }}


{{ define "sidebar-footer" }}
<section class="section section-sm">
  <div class="container">

    <div class="row justify-content-center text-center">
      <div class="col-lg-9">

        <h2 class="text-center">Recent Updates</h2>

        <div class="card-list">
          {{ $pages := union (where site.RegularPages "Section" "news") (where site.RegularPages "Section" "blog") }}
          {{ range first 4 $pages.ByLastmod.Reverse }}
            <div class="card">
              <div class="card-body">
                <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                <p>{{ .Params.lead | safeHTML }}</p>
                {{ partial "main/blog-meta.html" . -}}
              </div>
            </div>
          {{ end -}}
        </div>

        Visit our <a href='{{ "blog" | relURL}}' class="link">Blog</a> or <a href='{{ "news" | relURL}}' class="link">News</a> for more updates!

      </div>
    </div>

  </div>
</section>
{{ end }}

